clusterctl 1.3.3
ginkgo 2.8.1
gojq 0.12.11
golang 1.20.1
golangci-lint 1.51.1
goreleaser 1.15.2
helm 3.11.1
kube-code-generator 0.26.1
kube-controller-tools 0.11.3
kubebuilder 3.9.0
pre-commit 3.0.4
shfmt 3.6.0
upx 4.0.2
helm-docs 1.11.0
