# Copyright 2022 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: credentialprovider.d2iq.com/v1alpha1
kind: DynamicCredentialProviderConfig
credentialProviderPluginBinDir: /etc/kubernetes/image-credential-provider/
{{- with .MirrorAddress }}
mirror:
  endpoint: {{ printf "%q" . }}
  credentialsStrategy: MirrorCredentialsFirst
{{- end }}
credentialProviders:
  apiVersion: kubelet.config.k8s.io/v1
  kind: CredentialProviderConfig
  providers:
  - name: static-credential-provider
    args:
      - /etc/kubernetes/image-credential-provider/static-image-credentials.json
    matchImages:
      {{- with .MirrorAddress }}
      - {{ printf "%q" . }}
      {{- end }}
      - "*"
      - "*.*"
      - "*.*.*"
      - "*.*.*.*"
      - "*.*.*.*.*"
      - "*.*.*.*.*.*"
    defaultCacheDuration: "0s"
    apiVersion: credentialprovider.kubelet.k8s.io/v1
