{
  "kind":"CredentialProviderResponse",
  "apiVersion":"credentialprovider.kubelet.k8s.io/v1beta1",
  "cacheKeyType":"Image",
  "cacheDuration":"5s",
  "auth":{
    {{ printf "%q" .MirrorAddress }}: {"username": {{ printf "%q" .MirrorUsername }}, "password": {{ printf "%q" .MirrorPassword }}},
    "docker.io": {"username": {{ printf "%q" .DockerHubUsername }}, "password": {{ printf "%q" .DockerHubPassword }}}
  }
}
